body {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:bisque
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

button {
    font-size: 2rem;
    margin-bottom: 10px;
}

span {
    font-size: 2rem;
    font-weight: bold;
}